.uv-card {
  box-shadow: 0 0 0.5rem rgba(0, 0, 255, 0.1);
  justify-items: center;
  padding: 2rem;
  width: 30rem;
  height: 20rem;
  cursor: pointer;
  background-color: white;
  border-radius: 1.75rem;
  position: relative;
}

:host ::ng-deep {
  .ct-series-a .ct-bar,
  .ct-series-a .ct-line,
  .ct-series-a .ct-point,
  .ct-series-a .ct-slice-donut {
    stroke: #268ede;
  }

  .ct-series-b .ct-bar,
  .ct-series-b .ct-line,
  .ct-series-b .ct-point,
  .ct-series-b .ct-slice-donut {
    stroke: #f5f5f5;
  }
}

.uv-chart {
  height: 20rem;
  width: 25rem;
}

.uv-index_text {
  position: absolute;
  font-size: 25px;
  left: 210px;
  bottom: 90px;
}

.uv-min-level_text {
  position: absolute;
  font-size: 13px;
  left: 105px;
  bottom: 76px;
}

.uv-max-level_text {
  position: absolute;
  font-size: 13px;
  left: 350px;
  bottom: 76px;
}
