<div class="row g-3 d-flex align-items-center">
  <div class="col-auto">
    <i class="fa fa-search"></i>
  </div>
  <div class="col-sm-7">
    <input
      id="citySearch"
      class="form-control dropdown-toggle"
      data-bs-toggle="dropdown"
      placeholder="search city"
      #citySearchInput
      [(ngModel)]="userInput"
    />
    <ul
      [hidden]="!(searchedCities$ | async)?.length && !userInput"
      class="dropdown-menu col-sm-4"
    >
      <li *ngFor="let city of searchedCities$ | async">
        <a class="dropdown-item" (click)="selectCity(city)">
          {{ city }}
        </a>
      </li>
      <p *ngIf="!(searchedCities$ | async)?.length && userInput">
        City not found
      </p>
    </ul>
  </div>
</div>
