<form class="row">
  <div class="col-auto mr-auto">
    <button class="btn btn-light" type="submit">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="col-12 col-sm-6 col-md-8">
    <input
      class="form-control dropdown-toggle"
      data-bs-toggle="dropdown"
      #citySearchInput
      placeholder="search city"
    />
    <ul class="dropdown-menu">
      <div *ngFor="let city of searchedCities" (click)="setCityName(city)">
        {{ city }}
      </div>
    </ul>
  </div>
</form>
