<section class="weather-card mt-5 d-flex flex-column">
  <h3>Today</h3>
  <ng-container *ngIf="cityWeather$ | async as weather">
    <div class="row mt-4 g-2 d-flex align-items-center">
      <i class="fa-solid fa-location-dot col-auto"></i>
      <div class="col-auto">
        <span class="city-name">{{ weather.city }}</span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-9 d-flex align-items-center">
        <div class="weather-icon__container" [ngSwitch]="true">
          <img
            *ngSwitchCase="weather.type === 'sunny'"
            src="assets/weather-icons/sunny.png"
          />
          <img
            *ngSwitchCase="weather.type === 'cloudy'"
            src="assets/weather-icons/sunny-cloudy.png"
          />
          <img
            *ngSwitchCase="weather.type === 'rainy'"
            src="assets/weather-icons/rainy.png"
          />
          <img
            *ngSwitchCase="weather.type === 'snowy'"
            src="assets/weather-icons/snowy.png"
          />
        </div>
        <div>
          <span class="curr-temp">{{ weather.currTemp }}&deg;</span>
        </div>
      </div>
      <div class="col-3">
        <span class="row">High: {{ weather.maxTemp }}&deg;</span>
        <span class="row">Low: {{ weather.minTemp }}&deg;</span>
        <span class="row">Feels Like: {{ weather.currTemp }}&deg;</span>
      </div>
    </div>

    <div class="text-center mt-auto">
      <button class="btn btn-primary" type="button">More</button>
    </div>
  </ng-container>
</section>
